<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Upcoming events</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">4th Year PMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/select">Projects</a></li>
            <li class = "active"><a href="#">Events</a></li>
            <li><a href="/deadlines">Deadlines</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "/registration">Register</a></li>
        </ul>
    </div>
</nav>
<div style="border:2px inset #AAA;cursor:text;height:120px;overflow:auto;width:500px;">
    <div style="width:800px;">

        Currently acts as a student page in which results will be shown here. Admins will have<br>
        the ability to edit this page and have it update for students to see here.

    </div>
</div>

</body>
</html>