<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Upcoming events</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">4th Year PMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class = "active"><a href="#">Home</a></li>
            <li><a href="/select">Projects</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/deadlines">Deadlines</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "/registration">Register</a></li>
        </ul>
    </div>
</nav>
<div class = "text-center">
    <h1>Welcome to the 4th Year Project Management System</h1>
    <div style="border:2px inset #AAA;cursor:text;height:120px;overflow:auto;width:500px;">
        <div style="width:800px;">

            There are currently no upcoming events available.
        </div>
    </div>

</div>

</body>
</html>