<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dynamicTable.js"></script>

<head>
    <title>Project Management System</title>
</head>

<body>
<div id='root'></div>

<div className="container">
    <h1>Create a new project:</h1>
    <form id="form" action="#" th:action="@{/prof/test}" method="post" >

        <label>Title: </label>&nbsp<input id='title' type="text" placeholder="Title..." /><br>
        <label>Description: </label>&nbsp<textarea id='description' type="text" placeholder="Description..."></textarea>
        <br>

        <label>Restricted to: </label>
        <div class="grid-container" id="programs">
            <label class="grid-item">SE <input value='SE' name='check' type="checkbox"/></label>
            <label class="grid-item">EE <input value='EE' name='check' type="checkbox"/></label>
            <label class="grid-item">Communications <input value='Communications' name='check' type="checkbox"/></label>
            <label class="grid-item">CSE <input value='CSE' id='CSE' name='check' type="checkbox"/></label>
            <label class="grid-item">Biomed <input value='Biomed'  name='check' type="checkbox"/></label>
            <label class="grid-item">Mechanical <input value='Mechanical' name='check' type="checkbox"/></label>
            <label class="grid-item">Aerospace <input value='Aerospace' name='check' type="checkbox"/></label>
        </div>
        <br>
        <label>Max # of Students: </label>&nbsp<input id='studentLimit' type="number" placeholder="max # of Students..." /><br>
        <label>Submit: </label>&nbsp<input id="formSubmit" type="submit" value="Submit" /><br>
    </form>

    <div className="container">
        <table id="projectTable">
        </table>
    </div>
</div>

</body>

</html>