<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dynamicTable.js"></script>

<head>
    <title>Student Homepage</title>


</head>
<div>
    <form method='get' action="/project">
    <label>Go to project Selection Page: </label><button > click me </button>
        </form>
</div>
<div class='studentContainer'>
    <div class='studentContainer' >
        Student and Group information

        <table id = 'studentTable'>

        </table>
    </div>

    <div class='studentContainer'>
        Project and Professor information
        <table id ='selectedProjectTable'>

        </table>

    </div>


    <div class='studentContainer'>
        File Submission will go here

        <form id="fileSumbission" action="">
            <label>Submit a rough draft</label>
            <input type="file" id="roughDraft" name="file">
            <br>
            <label>Submit a final report</label>
            <input type="file" id="finalReport" name="file">
            <br><input type="submit">

        </form>
    </div>

</div>

</html>